extends layout

block content
  div(class='container')
    div(class='row')
      div(class='col-md-6')
        p
        div 摄像头
        form(action='/ffmpeg/ipc',method='post')
          p IP &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:  
            input(type='text',name='IP',value='192.168.1.2')
          p 帐&nbsp&nbsp&nbsp号: 
            input(type='text',name='UserName',value='admin')
          p 密&nbsp&nbsp&nbsp码: 
            input(type='password',name='Password',value='q123456789')
          p 直播名: 
            input(type='text',name='IpcName',value='livestream')
          input(type='submit')
          p  说&nbsp&nbsp&nbsp明:摄像头IP、直播名不能重复，重复会覆盖之前同名的直播流 
