doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://vjs.zencdn.net/7.3.0/video-js.css')
    script(src='https://vjs.zencdn.net/7.3.0/video.js')
    script(src='https://cdn.jsdelivr.net/npm/videojs-flash@2/dist/videojs-flash.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
  body
    div(class='')
      div(class='collapse',id='navbarToggleExternalContent')
        div(class='bg-dark')
          ul(class='nav')
            li(class='nav-item')
              a(class='nav-link',href='/') 首页
            li(class='nav-item')
              a(class='nav-link',href='streams') 视频广场
            li(class='nav-item')
              a(class='nav-link',href='ipc') 摄像头配置
            li(class='nav-item')
              a(class='nav-link',href='ffmpeg') 通道配置
    nav(class='navbar navbar-dark bg-dark')
      a(class='navbar-brand',href='#') 导航
      button(class='navbar-toggler',type='button',data-toggle='collapse',data-target='#navbarToggleExternalContent',aria-controls='navbarToggleExternalContent',aria-expanded='falsel,aria-label="Toggle navigation')
        span(class='navbar-toggler-icon',align='right')
    block content
