extends layout

block content
  div(class='container')
    div(class='row')
      div(class='col-lg-12',align='center')
        span 电脑在线播放
    div(class='row')
      div(class='col-lg-12',align='center')
        //- video-js(id='my-video',class='video-js',controls,preload='auto',width=1024,height=768)
        //- video-js(id='my-video',class='video-js',controls,preload='auto',width=1024,height=768)
          //- source(src="/live/livestream.m3u8",type="application/x-mpegURL")
        p(id="streams")
    
  div
    p(id="stream")
    script.
      function addSourceToVideo(element,src,type)
      {
        var source = document.createElement('source');
        source.src =src;
        source.type =type;
        element.appendChild(source);
      }
      function insertVideo(id,src,type,width,height)
      {
        var vid = document.createElement("video-js");
        vid.controls="controls";
        vid.width = width;
        vid.height = height;
        vid.id = id;
        vid.class = "video-js";
        addSourceToVideo(vid,src,type);
        document.getElementById("streams").appendChild(vid);
      }
      var x,i="rtmp://192.168.2.173/";
      var values = !{data}
      for (x in values.streams) {
        i += values.streams[x].app + '/' + values.streams[x].name;
        var video = document.getElementById("streams");
        insertVideo(values.streams[x].name,i,"rtmp/flv",50,50); 
        var vp = document.createElement('p');
        document.getElementById("streams").appendChild(vp);
        video = document.getElementById("streams");
        var player = videojs(values.streams[x].name,{
          controls: true,
          width: 800,
          height: 600
        });
        //- player.play();
        document.getElementById("stream").innerHTML += i + '<br>';
        //document.getElementById("stream").innerHTML += values.streams[x].app + '/' + values.streams[x].name + '<br>';
         //values.streams[i].app + ' ' + values.streams[i].name + '<br>';
        i = "rtmp://192.168.2.173/";
      }
//-    script.    
//-      var player2 = videojs("my-video",{
//-        controls: true,
//-        sources: [{
//-          src: '/live/livestream.m3u8',
//-          type: 'application/x-mpegURL'
//-        }]
//-      });
//-      player2.play();
