extends layout

block content
  h1= title
  p Welcome to #{title}
  script.
    window.location.href = /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ? "/phonestreams" :  "/pcstreams";
